@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap");

:root {
  --shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
  --primary-color: #1c1c1c;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #8e9eab, #eef2f3);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-contaier {
  display: flex;
}

.input {
  background-color: var(--secondary-color);
  width: 300px;
  height: 60px;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  box-shadow: var(--shadow);
}

.fa-plus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  padding-top: 18px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: var(--shadow);
  display: block;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.fa-plus:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.tarefa li {
  position: relative;
  list-style: none;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: var(--shadow);
}

.tarefa li::after {
  content: "";
  background-color: var(--secondary-color);
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: -8px;
  left: 15px;
  transform: rotate(45deg);
  box-shadow: var(--shadow);
}

.tarefa-icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarefa-icones i {
  font-size: 1.4rem;
  margin-left: 10px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tarefa-icones i:hover {
  color: #333333;
}

/* Utilidades */
.completado {
  text-decoration: line-through;
  opacity: 50%;
}
